
body {
    background-color: bisque;
}

p {
    color: green;
    

}

h1 {
    background-color: blue;
    color: white;
}

.resaltado {
    background-color: black;
    color: white;
}

nav a {

    text-decoration: none;
    background-color: black;
    color: yellow;

}

nav a:hover {


    background-color: green;
    color: black;
    font-size: 18px;

}

tr:nth-child(even) {
    background-color: gray;
    color: black;
}

tr:nth-child(odd) {
    background-color: aquamarine;
    color: black;
}

th {
    background-color: black;
    color: white;
}